mat-toolbar{
  justify-content: space-between;
  .navmenu-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    li{      
      a{
        font-size: 20px;
      }
    }
  }
}


