<mat-toolbar color="primary">
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <ul class="navmenu-list">
      <li routerLinkActive="active"><a mat-button routerLink="" target="_blank">Home</a></li>
      <li routerLinkActive="active"><a mat-button routerLink="/about" target="_blank">About</a></li>
      <li routerLinkActive="active"><a mat-button routerLink="/visit" target="_blank">PlacesToVisit</a></li>
    </ul>
  </div>

</mat-toolbar>
